.card {
  background: var(--background-color-character);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4em;
  border-radius: 1em;
  font-family: var(--font-family-text);
  justify-items: start;
  align-items: center;
}

.characterDescription {
  padding: 0.2em;
}

.characterTitle {
  color: var(--color-contrast);
  font-size: 1.3em;
}

.characterSubtitle {
  color: var(--color-contrast);
  font-size: 0.8em;
}

.characterSeen {
  padding-top: 2em;
  color: var(--color-text-description);
}

.characterLocation {
  color: var(--color-contrast);
}

.characterImg {
  width: 100%;
  height: 100%;
  border-radius: 1em 0 0 1em;
  padding-right: 0.4em;
}

@media only screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0.5em;
  }

  .characterImg {
    height: 20em;
    border-radius: 1em 1em 0 0;
    padding-right: 0;
    padding-bottom: 0.4em;
  }
}

@media only screen and (max-width: 1170px) {
  .characterImg {
    height: 20em;
  }
}
